<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lagou.dao.PromotionAdMapper">
    
    <!--PromotionAdResultMap-->
    <resultMap id="promotionAdResultMap" type="promotionAd">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="spaceId" column="spaceId"></result>
        <result property="keyword" column="keyword"></result>
        <result property="htmlContent" column="htmlContent"></result>
        <result property="text" column="text"></result>
        <result property="link" column="link"></result>
        <result property="startTime" column="startTime"></result>
        <result property="endTime" column="endTime"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <result property="status" column="status"></result>
        <result property="priority" column="priority"></result>
        <result property="img" column="img"></result>
        
        <!--一对一的映射配置:嵌套查询-->
        <association property="promotionSpace" select="com.lagou.dao.PromotionSpaceMapper.findById" 
                     column="spaceId" javaType="promotionSpace"></association>
    </resultMap>
    
    <!--广告信息分页查询-->
    <select id="findAllAdByPage" resultMap="promotionAdResultMap">
        select * from promotion_ad
    </select>
    
    <!--新增广告-->
    <insert id="savePromotionAd" parameterType="promotionAd">
        insert into promotion_ad (name, spaceId, startTime, endTime, status, img,
                                  link, text, priority, createTime, updateTime,
                                  htmlContent, keyword)
        values(#{name}, #{spaceId}, #{startTime}, #{endTime}, #{status}, 
               #{img}, #{link}, #{text}, #{priority}, #{createTime}, #{updateTime}, 
               #{htmlContent}, #{keyword})
    </insert>
    
    <!--回显广告信息-->
   <select id="findPromotionAdById" parameterType="int">
       select * from promotion_ad where id = #{id}
   </select>
    
    <!--修改广告-->
    <update id="updatePromotionAd" parameterType="promotionAd">
        update promotion_ad
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="spaceId != null and spaceId != ''">
                spaceId=#{spaceId},
            </if>
            <if test="startTime != null and startTime != ''">
                startTime=#{startTime},
            </if>
            <if test="endTime != null and endTime != ''">
                endTime=#{endTime},
            </if>
            <if test="status != null and status != ''">
                status=#{status},
            </if>
            <if test="img != null and img != ''">
                img=#{img},
            </if>
            <if test="link != null and link != ''">
                link=#{link},</if>
            <if test="text != null and text != ''">
                text=#{text},
            </if>
            <if test="priority != null and priority != ''">
                priority=#{priority},
            </if>
        </trim>
        <where>
            <if test="id!=null and id != '' ">id=#{id}</if>
        </where>
    </update>
    
    <!--广告状态上下线-->
    <update id="updatePromotionAdStatus" parameterType="promotionAd">
        update promotion_ad set status = #{status}, updateTime = #{updateTime} where id = #{id}
    </update>
</mapper>