<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lagou.dao.ResourceMapper">
    
    <!--条件查找资源-->
    <select id="findAllResourceByPage" parameterType="resourceVo" resultType="resource">
        select * from resource
        <where>
            <if test="name != null and name != ''">
                and name like concat("%",#{name},"%")
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="categoryId != null and categoryId != ''">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>
    
    <!--清空角色资源中间表-->
    <delete id="deleteRoleResource" parameterType="roleResourceVo">
        delete from role_resource_relation where role_id = #{roleId}
    </delete>
    
    <!--新增角色资源中间表-->
    <insert id="saveRoleResource" parameterType="roleResourceRelation">
        insert into role_resource_relation (id, resource_id, role_id, created_time, updated_time, created_by, updated_by)
        values (#{id},#{resourceId},#{roleId},#{createdTime},#{updatedTime},#{createdBy},#{updatedBy})
    </insert>
    
</mapper>